<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../style/reset.css">
  <link rel="stylesheet" href="../../style/base.css">
  <link rel="stylesheet" href="../../style/layout.css">
  <link rel="stylesheet" href="../../style/module.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <section>
      <% results.forEach( book => { %>
        <div>
          <img src="<%= book.image_url %>" alt="">
          <h1><%= book.title%></h1>
          <h3><%= book.name%></h3>
          <p><%= book.description %></p>
  
    
          <a href="/edit/<%=book.id %>"><button>UPDATE</button></a>
        <form  action="/books/<%= book.id %>?_method=DELETE" method="POST">
          <button type="submit">DELETE</button>
      </form>
        </div>
      <% }) %>
    </section>
  </main>
</body>
</html>