<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/module.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <main>
      <h4>My Book Collection</h4>

      <section>
        <% results.forEach( book => { %>
          <div>
            <img src="<%= book.image_url %>" alt="">
            <h1><%= book.title%></h1>
            <h3><%= book.authors%></h3>
            <p><%= book.description %></p>
          </div>
          <form action="/books/<%= book.id%>" method="GET">
            <button type="submit">View Details</button>
        </form>
        <% }) %>
      </section>
    </main>
  </body>
</html>
