<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/layout.css">
    <link rel="stylesheet" href="style/module.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <!-- <header>
      <h1>best books!</h1>
  </header> -->
      <main>
        <h4>search Results</h4>
       <section>
        <% searchResults.forEach( book => { %>
          <div>
            <img src="<%= book.image_url %>" alt="">
            <h1><%= book.title%></h1>
            <h3><%= book.authors%></h3>
            <p><%= book.description %></p>
          </div>
<!-- i don't know how to take the data form the api so i make form and fill it by the value after submit it will save the value from it in sql -->
          <form action="/books" method="POST">
           <input name="title" id="title" type="hidden" value= "<%= book.title %>">
          
           <input name='author' id='author' type="hidden" value="<%= book.authors %>">
          
           <input name='isbn' id='isbn' type="hidden" value="<%= book.isbn %>">
           
           <input name='image_url' id='image_url' type="hidden" value="<%= book.image_url %>">
          
           <input name='description' id='description' type="hidden" value="<%= book.description %>">
           
          <button type="submit">Add book to shelf</button>
        </form>
        
        <% }) %>
      </section>
    </main>
  </body>
</html>
